<div class="container container-md">
   <div class="row mb-lg">
      <div class="col-md-8">
         <div class="h1 text-bold">FAQs</div>
         <p class="text-muted">Frequently Asked Questions that we have regularly been asked about the platform.</p>
      </div>
      <div class="col-md-4">
         <div class="panel">
            <div class="panel-body text-center">
               <p class="mb-lg">If you still have questions not address here then </p>
               <button type="button" class="btn btn-info">Contact support</button>
            </div>
         </div>
      </div>
   </div>
   <h4 class="mv-lg pv-lg text-dark">Some platform related Questions</h4>
   <uib-accordion close-others="true">
      <uib-accordion-group is-open="isAccOpen2" class="b0">
         <uib-accordion-heading>
            <small>
               <em class="fa fa-plus text-primary mr"></em>
            </small>
            <span>How Long Data is stored once subscription expired?</span>
         </uib-accordion-heading>
         <p>Your data will be stored for up to 60 days prior to deletion, with in that time if you renew, then you will also get any intermidiate data sent to server </p>
         <p>Post 60 days, once data is deleted, it cannot be restored</p>
         <div class="pull-right">
            <small class="text-muted mr">Was this information useful?</small>
            <button type="button" class="btn btn-default btn-xs">
               <em class="fa fa-thumbs-up text-muted"> 3</em>
            </button>
            <button type="button" class="btn btn-default btn-xs">
               <em class="fa fa-thumbs-down text-muted"></em>
            </button>
         </div>
      </uib-accordion-group>
      <uib-accordion-group is-open="isAccOpen3" class="b0">
         <uib-accordion-heading>
            <small>
               <em class="fa fa-plus text-primary mr"></em>
            </small>
            <span>Which Inverters are supported?</span>
         </uib-accordion-heading>
         <p>We have done integrations to all major inverters like Delta, SMA, KACO, Su-Kam etc. Most of these inverters have Modbus protocol. </p>
         <p>However it will not be difficult to integrate with any other inverter with our self-service REST API's</p>
         <div class="pull-right">
            <small class="text-muted mr">Was this information useful?</small>
            <button type="button" class="btn btn-default btn-xs">
               <em class="fa fa-thumbs-up text-muted"></em>
            </button>
            <button type="button" class="btn btn-default btn-xs">
               <em class="fa fa-thumbs-down text-muted"></em>
            </button>
         </div>
      </uib-accordion-group>
      <uib-accordion-group is-open="isAccOpen4" class="b0">
         <uib-accordion-heading>
            <small>
               <em class="fa fa-plus text-primary mr"></em>
            </small>
            <span>Do you provide SDK's ?</span>
         </uib-accordion-heading>
         <p>In case you want to develop your own hardware, we provide SDK's for TI's CC3200, Rasberry PI , Beagle Bone. </p>
         <p>The link will be soon available on Github</p>
         <div class="pull-right">
            <small class="text-muted mr">Was this information useful?</small>
            <button type="button" class="btn btn-default btn-xs">
               <em class="fa fa-thumbs-up text-muted"></em>
            </button>
            <button type="button" class="btn btn-default btn-xs">
               <em class="fa fa-thumbs-down text-muted"></em>
            </button>
         </div>
      </uib-accordion-group>
      <uib-accordion-group is-open="isAccOpen5" class="b0">
         <uib-accordion-heading>
            <small>
               <em class="fa fa-plus text-primary mr"></em>
            </small>
            <span>Where can I buy the hardware?</span>
         </uib-accordion-heading>
         <p>You can buy the hardware which is called ThingsHiFi and various online retailers like Amazon, Urjakart</p>
         <p>We will soon be there in other major platforms</p>
         <div class="pull-right">
            <small class="text-muted mr">Was this information useful?</small>
            <button type="button" class="btn btn-default btn-xs">
               <em class="fa fa-thumbs-up text-muted"></em>
            </button>
            <button type="button" class="btn btn-default btn-xs">
               <em class="fa fa-thumbs-down text-muted"></em>
            </button>
         </div>
      </uib-accordion-group>
      <uib-accordion-group is-open="isAccOpen6" class="b0">
         <uib-accordion-heading>
            <small>
               <em class="fa fa-plus text-primary mr"></em>
            </small>
            <span>Do you ship globally?</span>
         </uib-accordion-heading>
         <p>Right now we have limited global support, like countries such as US, UK and Germany.</p>
         <p>If you are from any of these countries, you can buy our hardware directly at Amazon or else you can integrate our SDK's</p>
         <div class="pull-right">
            <small class="text-muted mr">Was this information useful?</small>
            <button type="button" class="btn btn-default btn-xs">
               <em class="fa fa-thumbs-up text-muted"></em>
            </button>
            <button type="button" class="btn btn-default btn-xs">
               <em class="fa fa-thumbs-down text-muted"></em>
            </button>
         </div>
      </uib-accordion-group>
	  
   </uib-accordion>
   
   
   
   
   
	 
	 
</div>